@import "compass/css3";
@import "setup";
@import "mixins";


// ******************************* HEADER **********************************
header {
@include headerStyle;
}


// ******************************* NOCIMA **********************************

#nocima {
  position:relative;
  background:url(../img/nocima.jpg) 0 0 no-repeat;  
  background-size:cover;

  .contentWrapper{
      position:absolute;
      background-color: rgba(0,0,0, 0.6);
      height:100vh;
      width:100%;
      
      .content {
        width:38rem;
        height:35rem;
        margin-top:16.5rem;
        margin-left:7.2rem;
        padding-right:2rem;
        & h1{
          margin-bottom:1rem;
          font-size:5rem;
          font-weight:300;
          line-height:5rem;
          text-transform:uppercase;
        }

        & h3{
          font-weight:300;
          font-size:2.1rem;
        }
      }
  }
 
   .heroImg{
      @include imgPosition;
    }

    .arrow{
      @include arrow;
    }
}

// ******************************* NEW **********************************

#new {
  position:relative;
  background:url(../img/new.jpg) 0 0 no-repeat;  
  background-size:cover;
  
  .newWrapper{
      position:absolute;
      background-color: rgba(30,7,52, 0.74);
      width:100%;
      height:100vh;
    
    .newContent{
      margin-top:12rem;
      margin-left:7.2rem;
      width:35rem;
      height:28rem;

      & h2{
        margin-bottom:2.5rem;
      }   
    }
  }

}

// ******************************* MAP **********************************

#map {
  position:relative;
  background:url(../img/darkMap.png) 0 0 no-repeat;  
  background-size:cover;
  
  .mapWrapper{
      position:absolute;
      background-color: rgba(0,0,0, 0.6);
      
      width:100%;
      height:100vh;

     .mapContent{
      margin-top:12rem;
      margin-left:7.2rem;
      width:35rem;
      height:28rem;

      & h2{
        margin-bottom:2.5rem;
      }   
    }
  }
}
 
// ******************************* ABOUT US **********************************

 #aboutUs{
  position:relative;
  background:url(../img/aboutUs.png) 0 0 no-repeat;  
  background-size:cover;
    
    .aboutFaqWrapper{
      position:absolute;
      background-color: rgba(0,0,0, 0.8);
      width:100%;
      height:100vh;

      .about{
        width:36rem;
        height:20rem;
        margin-left:7.2rem;
        margin-top:12rem;

        & p:last-child{
          margin-top:3rem;
        }
      }

      .faq {
        margin-left:7.2rem;
        margin-top:-3rem;
        width:36rem;
        height:20rem;

        & h3{
          margin-bottom:-0.8rem;
          font-weight:300;
          font-size:1.7rem;
        }

        & p:nth-child(4){
          margin-top:1.5rem;
          opacity: 1;
        }

        & p:last-child {
          margin-top:-0.8rem;
        }
      }
    }
  }


// ******************************* CONTACT **********************************

#contact{
  position:relative;
  background:url(../img/aboutUs.png) 0 0 no-repeat;  
  background-size:cover;
  
  .formWrapper{
    position:absolute;
    background-color: rgba(0,0,0, 0.8);
    width:100%;
    height:100vh;

    .form{
      width:30rem;
      height:35rem;
      margin-top:12rem;
      margin-left:7.2rem;

      input, textarea {
        display:block;
        margin-top:1rem;
        //padding-bottom:2rem;
        padding-left: 0.4rem;
        width:30rem;
        height:2.8rem;
        font-size:1.2rem;
        background:transparent;
        border:none;
        border-bottom:1px solid rgba(255,255,255, 0.4);
        outline:none;
        color:#fff;
        &:focus{
          border-bottom:1px solid rgba(255,255,255, 0.9);
        }
      }

      textarea{
        height:6rem;
        width:35rem;
      }

      .scroll::-webkit-scrollbar {
        display: none;
      }

      & button{
        @include button;
      }

      form{
        padding-top:1rem;
      }
    }
  }
}

// ******************************* FOOTER **********************************

#footer{
  position:relative;
  background:url(../img/new.jpg) 0 0 no-repeat;  
  background-size:cover;

  .footerWrapper{
    position:absolute;
    background-color: rgba(0,62,70, 0.74);
    width:100%;
    height:100vh;
    
    .footer {
      width:30rem;
      height:35rem;
      margin-top:12rem;
      margin-left:7.2rem;

      & h1{
        margin-bottom: 3rem;
        font-size:4rem;
        font-weight:300;
     
      }

        .newSocial{
           @include socialBttn();
        }
        .newSocial-gp{
           @include socialBttn(rgb(217, 82, 50));
        }
        .newSocial-in{
           @include socialBttn(rgb(81, 127, 166));
        }
        .newSocial-tw{
          @include socialBttn(rgb(66, 192, 251));
        }

      .faColor:hover{
        background-color:rgb(58, 90, 152);
        border:1px solid rgb(58, 90, 152);
      }

      .twColor:hover{
        background-color:rgb(66, 192, 251);
        border:2px solid #fff;
      }

      .gogColor:hover{
        background-color:rgb(217, 82, 50);
        border:2px solid #fff;
      }

      .insColor:hover{
        background-color:rgb(81, 127, 166);
        border:2px solid #fff;
      }
      .support{
        display:block;
        margin-top:12rem;
        color:#adadad;
      

        &:hover{
         color: #dadada;
        }
      }
    }
  }
}




// ******************************* PRIVACY and TERMS OF USE **********************************

#privacy, #termsOfUse{
  width:100%;
  background:#111111;
  overflow: hidden;

  .privacyPage, .termsOfUsePage{
    width:40rem;
    margin:15rem 0 2rem 7.2rem;

    & h2{
      margin-bottom:1rem;
      font-weight:300;
    }

    & h3{
      font-weight:300;
      font-size:1.8rem;
      margin-bottom:-0.2rem;
    }

    & p {
      line-height:1.36rem;
    }
  }
}


// ******************************* MEDIA QUERY **********************************

@media (min-width: 320px) and (max-width: 767px) {
   .heroImg {
      @include imgPosition($top:7.9rem, $left:45rem);
      width:35%;
    }
}