

@media only screen
and (max-width: 480px) {
  header{
    height:4rem;
    nav{
      margin-left:0.4rem;
     

      .logo {
        display:none;
      } 

      img {
        display:inline-block;
        margin-top:-2.5rem;
        width:13%;
        height:13%;

      }

      ul{
        width:85%;
        margin-top:-2.5rem;
        margin-left:2.8rem;
        padding-left:0.5rem;

        li {
            line-height: 0.5rem;
          & a {
              padding:0.2rem;
              font-size:0.61rem;
          }
        }
      }
    }
  }

  #nocima{
    background-size:100% 100%;
 
    .contentWrapper{

      .content {
        width:20rem;
        height:20rem;
        margin-top:14.5rem;
        margin-left:1.7rem;
        //padding-right:1rem;
        & h1{
          margin-bottom:1rem;
          font-size:3rem;
          font-weight:300;
          line-height:3rem;
          text-transform:uppercase;
        }

        & h3{
          font-weight:300;
          font-size:1.1rem;
        }
        img{
          width:48%;
        
        }
      }
      .phoneWrapper {
      display: none;
      }
    } 
  }

  #new{
    background-size:100% 100%;

    .newWrapper{
      .newContent{
        width:20rem;
        height:20rem;
        margin-top:12.5rem;
        margin-left:1.7rem;
        h2{
          font-size:2rem;
          margin-bottom:2rem;
          line-height:2.5rem;
        }
        p{
          font-size:1rem;
        }
      }
    }
  }

  #map{
    background-size:100% 100%;

    .mapWrapper{
      .mapContent{
        width:20rem;
        height:20rem;
        margin-top:12.5rem;
        margin-left:1.7rem;
        h2{
          font-size:2rem;
          margin-bottom:1rem;
          line-height:2.5rem;         
        }
        p{
          font-size:1rem;
        }
      }
    }
  }

  #aboutUs{
    background-size:100% 100%;

    .aboutFaqWrapper{
      .about{
        width:20rem;
        height:20rem;
        margin-top:7.5rem;
        margin-left:1.7rem;
        h2{
          font-size:2rem;
          margin-bottom:1rem;
          line-height:2.5rem; 
        }
        p{
          font-size:1rem;
        }
        p:last-child{
          margin-top:2rem;

        }

      }
      .faq{
        width:20rem;
        height:20rem;
        margin-top:-2rem;
        margin-left:1.7rem;
        h3{
          margin-bottom:-0.8rem;
          font-weight:300;
          font-size:1.1rem;
        }
        p{
          font-size:1rem;
        }

        & p:nth-child(4){
          margin-top:1.5rem;
          opacity: 1;
        }

        & p:last-child {
          margin-top:-0.8rem;
        }
      }
    }
  }

  #contact{
    background-size:100% 100%;

    .formWrapper{
      .form{
        width:20rem;
        height:25rem;
        margin-top:12rem;
        margin-left:1.7rem;

        h2{
          font-size:2rem;
          margin-bottom:1rem;
          line-height:2.5rem;
        }

        input, textarea {
          width:17rem;
          height:1.7rem;
          font-size:0.9rem;
      }

        textarea{
          height:3.8rem;
          width:20rem;
        }

        & button{
          @include button;
          width:11rem;
          height:2.5rem;
          margin-top:2.8rem;
          font-size:0.85rem;
          margin-top:2.2rem;
        }
      }
    }
  }

  #footer{
    background-size:100% 100%;

    .footerWrapper{
      .footer{
        width:20rem;
        height:20rem;
        margin-top:12.5rem;
        margin-left:1.7rem;

        & h1{
          margin-bottom: 2rem;
          font-size:3rem;
          font-weight:300;
     
        }

        .newSocial,.newSocial-in{
           @include socialBttn();
        }
      }
    }
  }

  body {
    background-position:center;
    background-size:100% 100%;

    #privacy, #termsOfUse{
      padding-bottom:7rem;

      .privacyPage, .termsOfUsePage{
        width:20rem;
        margin-top:10rem;
        margin-bottom:1.7rem;
        margin-left:1.7rem;

        & h2{
          margin-bottom:1rem;
          font-weight:300;
          font-size:2rem;
        }

        & h3{
          font-weight:300;
          font-size:1.1rem;
          margin-bottom:-0.2rem;
        }

        & p {
            line-height:1.36rem;
            font-size:1rem;
        }
      }
    }
  }
}

@media only screen
and (min-device-width: 320px)// ako je vece ili jednako 320
and (max-device-width: 480px) // ako je manje ili jednako 480
{
  .phoneWrapper {
    display: none;
  }
}


@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (orientation: portrait) {
  .phoneWrapper{
    display:none;
  }
}


@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (orientation: landscape) {
  .phoneWrapper{
    display:none;
  }
}




@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px) {
  .phoneWrapper{
    display:none;
  }
}


@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .phoneWrapper{
    display:none;
  }
}


@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: landscape) {
  .phoneWrapper{
    display:none;
  }
}




@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px) {
  .phoneWrapper{
    display:none;
  }
}


@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait) {
  .phoneWrapper{
    display:none;
  }

}


@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: landscape) {
  .phoneWrapper{
    display:none;
  }
}




@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px) {
  .phoneWrapper{
    display:none;
  }
}


@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (orientation: portrait) {
  .phoneWrapper{
    display:none!important;
  }
}


@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (orientation: landscape) {
  .phoneWrapper{
    display:none!important;
  }
}